<p id="notice"><%= notice %></p>

<h1 align="center">
<span class="label label-info">Lista Laboratorio Examns</span>
</h1>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Id laboratorio</th>
      <th>Id examen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratorio_examns.each do |laboratorio_examn| %>
      <tr>
        <td><%= laboratorio_examn.id_laboratorio %></td>
        <td><%= laboratorio_examn.id_examen %></td>
        <td><%= link_to 'Show', laboratorio_examn %></td>
        <td><%= link_to 'Edit', edit_laboratorio_examn_path(laboratorio_examn) %></td>
        <td><%= link_to 'Destroy', laboratorio_examn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laboratorio examn', new_laboratorio_examn_path %>
