<p id="notice"><%= notice %></p>

<p>
  <strong>Identificador laboratorista:</strong>
  <%= @laboratorist.identificador_laboratorista %>
</p>

<p>
  <strong>Primer nombre persona:</strong>
  <%= @laboratorist.primer_nombre_persona %>
</p>

<p>
  <strong>Segundo nombre persona:</strong>
  <%= @laboratorist.segundo_nombre_persona %>
</p>

<p>
  <strong>Apellido paterno persona:</strong>
  <%= @laboratorist.apellido_paterno_persona %>
</p>

<p>
  <strong>Apellido materno persona:</strong>
  <%= @laboratorist.apellido_materno_persona %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @laboratorist.fecha_de_nacimiento %>
</p>

<p>
  <strong>Prevision:</strong>
  <%= @laboratorist.prevision %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @laboratorist.estado_civil %>
</p>

<p>
  <strong>Grupo sanguineo:</strong>
  <%= @laboratorist.grupo_sanguineo %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @laboratorist.edad %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @laboratorist.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @laboratorist.telefono %>
</p>

<p>
  <strong>Avenida calle domicilio:</strong>
  <%= @laboratorist.avenida_calle_domicilio %>
</p>

<p>
  <strong>Numero domicilio:</strong>
  <%= @laboratorist.numero_domicilio %>
</p>

<p>
  <strong>Departamento domicilio:</strong>
  <%= @laboratorist.departamento_domicilio %>
</p>

<p>
  <strong>Comuna domicilio:</strong>
  <%= @laboratorist.comuna_domicilio %>
</p>

<p>
  <strong>Ciudad domicilio:</strong>
  <%= @laboratorist.ciudad_domicilio %>
</p>

<%= link_to 'Edit', edit_laboratorist_path(@laboratorist) %> |
<%= link_to 'Back', laboratorists_path %>
