<p id="notice"><%= notice %></p>

<p>
  <strong>Identificador medico:</strong>
  <%= @medico.identificador_medico %>
</p>

<p>
  <strong>Primer nombre persona:</strong>
  <%= @medico.primer_nombre_persona %>
</p>

<p>
  <strong>Segundo nombre persona:</strong>
  <%= @medico.segundo_nombre_persona %>
</p>

<p>
  <strong>Apellido paterno persona:</strong>
  <%= @medico.apellido_paterno_persona %>
</p>

<p>
  <strong>Apellido materno persona:</strong>
  <%= @medico.apellido_materno_persona %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @medico.fecha_de_nacimiento %>
</p>

<p>
  <strong>Prevision:</strong>
  <%= @medico.prevision %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @medico.estado_civil %>
</p>

<p>
  <strong>Grupo sanguineo:</strong>
  <%= @medico.grupo_sanguineo %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @medico.edad %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @medico.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @medico.telefono %>
</p>

<p>
  <strong>Avenida calle domicilio:</strong>
  <%= @medico.avenida_calle_domicilio %>
</p>

<p>
  <strong>Numero domicilio:</strong>
  <%= @medico.numero_domicilio %>
</p>

<p>
  <strong>Departamento domicilio:</strong>
  <%= @medico.departamento_domicilio %>
</p>

<p>
  <strong>Comuna domicilio:</strong>
  <%= @medico.comuna_domicilio %>
</p>

<p>
  <strong>Ciudad domicilio:</strong>
  <%= @medico.ciudad_domicilio %>
</p>

<%= link_to 'Edit', edit_medico_path(@medico) %> |
<%= link_to 'Back', medicos_path %>
